@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");

:root {
  --black: #0d0d0d;
  --bodyColor: #fa6672;
  --inputColor: #f0d237;
  --buttonColor: #d9d9d9;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: var(--bodyColor);
  background-color: var(--black);
  background-image: url(../background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */

header {
  padding: 1rem 2rem;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}

.input-container {
  margin-top: 5rem;
  background: linear-gradient(
    225deg,
    rgba(247, 139, 109, 1) 0%,
    rgba(176, 150, 224, 1) 100%
  );
  color: var(--inputColor);
  padding: 3rem 3rem;

  border-radius: 100px;
  width: 500px;
  margin: 3rem auto;
  font-family: "Aref Ruqaa Ink", serif;
}

.input-container label {
  display: block;
  margin-bottom: 2rem;

  font-size: 2.5rem;
}

.input-container input {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 70%;
}

.input-container button {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border: none;
  border-radius: 50px;
  background-color: var(--buttonColor);
}

.input-container button:hover {
  background-color: var(--bodyColor);
  color: #f2f2f2;
  cursor: pointer;
}

img {
  transform: rotate(-90deg);
}

@media (max-width=800px) {
  .input-container button {
    display: block;
    margin: 2rem 0;
  }
}

@media (max-width=400px) {
  .input-container {
    width: 90%;
  }
}
